.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/images/login_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.modal__wrapper {
  background: #00000073;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff;
  padding: 7px 20px 34px 20px;
  font-family: "Montserrat";
}
