.card {
  border: 1px solid #d58c51;
  color: #ffffff;
  padding: 42px 20px 36px 20px;
  display: flex;
  width: 312px;
  height: 552px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card:hover {
  color: #d58c51;
}

.card__title {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 9px;
}

.card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  flex-grow: 1;
}

.card__preview {
  width: max-content;
  height: max-content;
  margin-bottom: 31px;
}

.ard__price {
  font-size: 17px;
  font-weight: 500;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.card__add:hover {
  background-color: #d58c51;
  border-color: #d58c51;
}

.card__add::before {
  content: "";
  width: 11px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
}

.card__add::after {
  position: absolute;
  transform: rotate(90deg);
  content: "";
  width: 11px;
  height: 2px;
  background-color: #ffffff;
  top: 13px;
  left: 9px;
}
